* {
	padding: 0;
	margin: 0;
	font-family: 'open', sans-serif;
}

h2 {
	font-size: 16px;
}

a {
	text-decoration: none;
	list-style: none;
}


.left {
	width: 15%;
	margin: 0;
	padding: 0;
	float: left;
}

.right {
	width: 85%;
	margin: 0;
	padding: 0;
	float: right;
	background-color: #F1F1F1;
	height: auto;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

.wrap {
	width: 100%;
}
/*topnav*/



/*topnav end*/


/*nav vertical*/
.nav ul {
	background-color: #424A5D;
	width: 15%;
	height: 100%;
	float:left;
	position: fixed;
}

.nav ul li {
	list-style: none;
	padding: 8px;
	cursor: pointer;
}

.nav ul li:hover {
	background-color: #68DBF0;
}

.nav ul li:hover a {
	color: white;
}

.nav ul li a {
	color: #AAADB2;
	text-decoration: none;
	font-size: 12px;
}


/*nav vertical end*/

.clear {
	clear: both;
}

@font-face {
	font-family: 'open';
	src: url("assets/fonts/open.ttf") format("truetype");
}

.col-4 {
	float: left;
	width: 22%;
	margin: 30px 3%  3%  0;
	background-color: white;
	height: auto;
	text-align: center;
	padding: 20px 0 0 0;
	cursor: pointer;
	box-shadow: 1px 3px 13px -2px rgba(0,0,0,0.12);
	border-radius: 2px;
}


.title {
	background-color: #424A5D;
	color: white;
	padding: 5px;
	border-radius: 2px;
}

.title h4 {
	padding: 4px;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 3%;
}

.header {
	margin-top: 40px;
	margin-bottom: 10px;
}

.header h2 {
	color: #58616A;
}

/*graph*/

.col-big {
	width: 72%;
	margin-right: 3%;
	float: left;
	margin: 0;
	background-color: white;
	box-shadow: 1px 3px 13px -2px rgba(0,0,0,0.12);
	border-radius: 2px;
}

.col-big-title {
	padding: 8px;
	color: #616367;
}

.col-right {
	float: right;
	width: 22%;
	background-color: white;
	margin: 0 3%  3%  0;
	height: auto;
	text-align: left;
	cursor: pointer;
	box-shadow: 1px 3px 13px -2px rgba(0,0,0,0.12);
	border-radius: 2px;
}



/*graph end*/

.green {
	color: #5CB85C;
}

.green div.title {
	background-color: #5CB85C;
}

.green div.title:hover {
	background-color: #59d659;
}

.blue {
	color: #68DFF0;
}

.blue div.title {
	background-color: #68DFF0;
}

.blue div.title:hover{
	background-color: #62e9fc;
}

.red {
	color: #F0433D;
}

.red div.title {
	background-color: #F0433D;
}

.red div.title:hover {
	background-color: #fc3932;
}

.orange {
	color: #FFD777;
}

.orange div.title {
	background-color: #FFD777;
}

.orange div.title:hover {
	background-color: #ffd163;
}

